<app-example-component>

    <mat-card class="p-4 border border-2 border-primary rounded">
        <div class="row">
            <div class="col-12 col-md-12">
                <section>
                    <h1 class="fs-4">Signals</h1>
                    <mat-divider class="custom-divider"></mat-divider>

                    <p>Los signals permiten a Angular rastrear de manera granular cómo y dónde se utiliza el estado en
                        la
                        aplicación, optimizando las actualizaciones de renderizado y mejorando el rendimiento.</p>
                </section>
            </div>

            <div class="col-12">
                <h1 class="fs-4">Implementación</h1>
            </div>
            <div class="col-12 col-md-6">

                <h1 class="fs-5">TS</h1>
                <mat-divider class="custom-divider"></mat-divider>
                <pre><code [highlight]="codigoEjemploTS" language="typescript"></code></pre>

            </div>
            <div class="col-12 col-md-6">
                <h1 class="fs-5">HTML</h1>
                <mat-divider class="custom-divider"></mat-divider>
                <pre><code [highlight]="codigoEjemploHTML" language="typescript"></code></pre>

            </div>
            <div class="col-12 col-md-6">
                <section>
                    <h1 class="fs-4">Ejemplo</h1>
                    <form>
                        <mat-form-field appearance="outline">
    
                            <input #textoEjemplo matInput placeholder="Escriba aquí"
                                (keyup)="enviar(textoEjemplo.value)" name="texto">
                        </mat-form-field>
                    </form>
                    <h4>Valor del signal: {{textoIngresado()}}</h4>
    
                </section>

            </div>
        </div>
    </mat-card>
</app-example-component>