mat-card {
    margin: 2rem;
    padding: 1rem;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }

  button {
    margin-bottom: 1rem;
  }

  img {
    margin-top: 1rem;
    width: 150px;
    height: auto;
  }